<div style="margin: 15px; padding: 15px;">
    <div class="row">
        <div class="col-md-6">
            <h2>Crear menu</h2>
        </div>
        <div class="col-md-6">
            <h2>Lista menu</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <button type="button" mat-fab color="primary" class="add"  *ngIf="!isEditing && !isCreating" (click)="addNew(ngForm)">
                Add
            </button>

            <form  [formGroup]="menuFormGroup" [style.display]="isEditing || isCreating ? 'block' : 'none'">
                <div class="row">
                    <mat-form-field class="col">
                        <input matInput placeholder="producto" formControlName="name" required autofocus>
                        <mat-error *ngIf="menuFormGroup.get('name').invalid && menuFormGroup.dirty ">
                            *campo requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col">
                        <span matPrefix>$ &nbsp;</span>
                        <input matInput placeholder="precio" formControlName="unit_price" required autofocus>
                        <mat-error *ngIf="menuFormGroup.get('unit_price').invalid">
                            *campo requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row align-items-center">
                    <mat-form-field class="col" formGroupName="product_category" *ngIf="categoryList$ | async as categorias">
                        <mat-label>Elige la categoria del producto</mat-label>
                        <mat-select formControlName="id">
                            <mat-option *ngFor="let item of categorias" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <section>
                        <mat-label>Stock</mat-label>
                        <mat-slide-toggle formControlName="stock" (change)="toggleStock($event)"></mat-slide-toggle>
                    </section>
                </div>
                <div class="row">
                    <mat-form-field class="col">
                        <textarea matInput placeholder="ingrese el detalle del menu..." formControlName="description" rows="5"></textarea>
                        <mat-error *ngIf="menuFormGroup.get('description').invalid">
                            *campo requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <button (click)="save()" mat-raised-button color="primary">
                            Save
                        </button>
                        <button (click)="cancelEditing()" mat-raised-button>
                            Cancel
                        </button>
                    </div>
                </div>
            </form>

        </div>


        <div class="col-md-6" *ngIf="menuList$ | async as ListaMenu">
            <mat-list>
                <mat-list-item *ngFor="let menu of ListaMenu" (click)="selectedMenu(menu)">

                    <div class="buscame">

                        <div style="display: flex; align-items: center; flex-direction: row; width: 100%; justify-content: space-between;">
                            <h3 matLine> {{menu.name}} </h3>
                            <div class="d-flex justify-content-between"><button mat-mini-fab>#</button></div>

                        </div>

                        <i style="white-space: pre-wrap;" matLine>{{ menu.description }}</i>
                        <span style="font-weight: 500;" matLine> {{menu.unit_price  | currency }}  c/u</span>
                        <mat-divider matLine></mat-divider>

                    </div>

                </mat-list-item>
            </mat-list>

        </div>
    </div>
</div>
